secrets = {
    'ssid' : 'SSID goes here',
    'password' : 'PSK goes here',
    'timezone' : 'America/Chicago', # http://worldtimeapi.org/timezones
    'bus_tacker' : 'API key goes here',
    'train_tracker' : 'API key goes here'
}